@tsuki-prefix: tsuki; // 统一组件前缀
@primary-color: #5352ed; //
@success-color: #2ed573; //
@warning-color: #ffa502; //
@error-color: #ff4757; //
@info-color: #5352ed;

@white: #fff;
@black: #000;

@font-size-base: 14px;
@border-radius-base: 3px;
